/*====================================================================================*/
/*============================STRUCTURE===============================================*/
html, body /*Se elimina spatiile si marginile*/
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(images/index_background.jpg);
    background-position: center;
    background-attachment: fixed;
}

header
{
    width: 100%;
    background: yellow;
    position: fixed; 
    top: 0;
    height: 60px;
    z-index: 100;
}

.content /* In interiorul lui avem 2 Sidebarur-uri si un Main_Content*/
{
    position: relative;
    min-height: 100%;
    width:1400px;
    padding:60px 0px 30px 0px; /* Sus Stanga Jos Dreapta */
    margin:0px auto 0px auto; /* Centrarea contentului */
}

/*-------------------------------------------------------------------*/

.sidebar1, .sidebar2 
{
    background: red;
    height: 670px;
    width: 250px;
    top: 145px;
    margin: 0px 150px 0px 150px;
    
    position: fixed;
}

.sidebar1 
{  
    left: 0;
}

.sidebar2 
{
    right: 0;
}

/*------------------------*/

#main-content 
{
    background-color: rgba(192, 192, 192, 0.7);
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 170px;
    padding: 25px;
    border-radius: 100px;
    transition: 1s;
}

#main-content:hover
{
    background-color: rgba(192, 192, 192, 0.95);
}

/*-------------------------------------------------------------------*/

footer 
{
    width: 100%;
    background: yellow;
    position: fixed; 
    bottom: 0;
    height: 30px;
}


/*==================================END_STRUCTURE=====================================*/
/*====================================HTML_TAGS=======================================*/

h1
{
    text-align: center;
    font-size: 45px;
}

table
{
    padding: 0px;
    margin: 0px;
    border:  0px;
}

a
{
    text-decoration: none;
}

/*================================END_HTML_TAGS=======================================*/
/*================================CLASSES=============================================*/

.main-content-img
{
    height: auto;
    width: 350px;
    transition: 0.5s;
    float: left;
    margin-right: 25px;
}

.main-content-img:hover
{
    height: auto;
    width: 750px;
}

.normal-text
{
    font-size: 25px;
}

.table-buton
{
    height: 60px;
    
    padding: 0px 25px 0px 25px;
}

/*================================END_CLASSES=========================================*/
/*====================================================================================*/