.calculator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.calculator-container .calculator {
  height: 600px;
  width: 330px;
  background-color: rgb(31 41 55);
  border-radius: 0.5rem;
}

.wrapper {
  display: grid;
  grid-auto-rows: 10% 28% 11% 51%;
  height: 100%;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
}
.padding {
  padding: 0.5rem 1rem;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.result {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-weight: 700;
}

.calculate {
  background-color: #eee;
  padding: 0.4rem 1rem;
  display: grid;
  grid-template-columns: minmax(0px, 50px) repeat(2, 1fr);
  font-size: 1.8rem;
  font-weight: 300;
  overflow: hidden;
}

.calculate > button {
  background-color: unset;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 10px;
}

.calculate span {
  letter-spacing: 0.1rem;
  color: var(--default-text-color);
  word-wrap: break-word;
  word-break: break-all;
  overflow-y: scroll;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5rem 1rem;
}

.keypad > button {
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s linear;
  text-transform: uppercase;
  background-color: #eee;
  border: 3px solid #000;
}

.span-two {
    grid-column: span 2;
  }